.form {
  position: fixed;
  top: 25%;
  left: 50%;
  transform: translateX(-50%) translateY(-100%);
  background: $cc-xlt;
  width: clamp(320px, 90%, 425px);
  height: max-content;
  border-radius: 1.25rem;
  padding: 1.2rem 1rem 3rem;
  visibility: hidden;
  @include transition-ease--05;

  &.open {
    visibility: visible;
    transform: translateX(-50%) translateY(0%);
  }

  &--add-new-door {
    top: 10%;
  }

  &__title {
    margin: auto;
  }

  &__inputs {
    margin: 1.7rem 0;
    @include flexCol;
  }

  &__row {
    margin: 0.7rem 0;

    &--flex {
      display: flex;
      justify-content: space-evenly;
      margin: 0.7rem 0;

      .form__input-group {
        width: 50%;
        margin: 0 0.5rem;

        &:first-child {
          margin-left: 0;
        }

        &:last-child {
          margin-right: 0;
        }
      }
    }
  }

  &__input-group {
    @include flexCol;

    label {
      margin-bottom: 0.3rem;
      font-weight: $fw-bold;
    }

    input[type="text"] {
      border: 0.05rem solid $cc-shadow;
      outline: none;
      padding: 0.31rem;
      border-radius: 0.43rem;
    }

    input[type="file"] {
      color: rgba(0, 0, 0, 0);
    }

    .checkbox {
      width: 1.2rem;
      height: 1.2rem;
    }

    fieldset {
      border: none;
      margin-top: 0.7rem;

      legend {
        margin: 0.5rem 0;
        font-weight: $fw-bold;
      }

      .checkbox-group {
        display: flex;
        align-items: center;
        margin: 0.2rem 0;

        .checkbox {
          margin-right: 0.2rem;
        }
      }

      .checkbox-label {
        font-weight: $fw-lt;
        text-transform: uppercase;
        font-size: 1rem;
      }
    }
  }

  &__buttons {
    width: 100%;
    justify-content: center;
    align-items: center;

    .btn {
      margin: 0.5rem 0;
    }
  }

  &--add-new-client {
    #clientDiscount {
      width: 3rem;
    }
  }
}

.input-sm {
  width: 3rem;
}
